.rightSidePokedex
    background: url('../../images/rightSide.png')
    height: 622px
    width: 467px
    background-size: cover
    align-self: flex-end

.statsCard
    background-color: white
    position: absolute
    margin-top: 155px
    margin-left: 54px
    height: 90px
    width: 354px
    border-radius: 15px
    opacity: 30%
