.leftSidePokedex {
  background: url("../../images/leftSide.png");
  height: 720px;
  width: 500px;
  background-size: cover;
}

.pokemonImage {
  background-color: #6ad0ff;
  width: 345px;
  height: 233px;
  position: absolute;
  border-radius: 5px;
  margin-top: 220px;
  margin-left: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 10px 10px 11px #5cb4dd, inset -10px -10px 11px #5cb4dd;
          box-shadow: inset 10px 10px 11px #5cb4dd, inset -10px -10px 11px #5cb4dd;
}

.pokemonImage img {
  width: 70%;
  height: 100%;
}

.leftButtons {
  height: 50px;
  width: 110px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 568px;
  margin-left: 280px;
}

.leftButtons button {
  height: 35px;
  width: 50px;
  background: none;
  border: none;
}

.leftButtons button:hover {
  cursor: pointer;
}

.pokemonName {
  height: 50px;
  width: 180px;
  position: absolute;
  margin-top: 590px;
  background-color: #f9ee60;
  margin-left: 53px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pokemonName h2 {
  font-family: 'Teko', sans-serif;
  font-size: 40px;
  margin: 0;
  text-shadow: 2px 2px 0px #96969696;
}

.pokemonSprite {
  background: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png");
  background-size: cover;
  background-color: #00aaf7;
  position: absolute;
  margin-top: 515px;
  margin-left: 53px;
  border-radius: 50px;
  height: 51px;
  width: 51px;
}

.threeLights {
  margin-top: 37px;
  margin-left: 168px;
  gap: 15px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#redLight {
  background-color: red;
  width: 23px;
  height: 23px;
  border-radius: 100%;
  opacity: 100%;
  background: none;
  -webkit-animation: redlight 1.1s linear infinite alternate;
          animation: redlight 1.1s linear infinite alternate;
}

#yellowLight {
  background-color: grey;
  width: 23px;
  height: 23px;
  border-radius: 100%;
  opacity: 100%;
  background: none;
  -webkit-animation: yellowlight 1.2s linear infinite alternate;
          animation: yellowlight 1.2s linear infinite alternate;
}

#greenLight {
  background-color: green;
  width: 23px;
  height: 23px;
  border-radius: 100%;
  opacity: 100%;
  background: none;
  -webkit-animation: greenlight 1.1s linear infinite alternate;
          animation: greenlight 1.1s linear infinite alternate;
}

@-webkit-keyframes redlight {
  0% {
    -webkit-box-shadow: 1px 1px 30px 2px #ff1f1f80;
            box-shadow: 1px 1px 30px 2px #ff1f1f80;
  }
  100% {
    -webkit-box-shadow: 0px 0px 0px 0px #ff424277;
            box-shadow: 0px 0px 0px 0px #ff424277;
  }
}

@keyframes redlight {
  0% {
    -webkit-box-shadow: 1px 1px 30px 2px #ff1f1f80;
            box-shadow: 1px 1px 30px 2px #ff1f1f80;
  }
  100% {
    -webkit-box-shadow: 0px 0px 0px 0px #ff424277;
            box-shadow: 0px 0px 0px 0px #ff424277;
  }
}

@-webkit-keyframes yellowlight {
  0% {
    -webkit-box-shadow: 1px 1px 30px 2px #ffe34286;
            box-shadow: 1px 1px 30px 2px #ffe34286;
  }
  100% {
    -webkit-box-shadow: 0px 0px 0px 0px #e8f66e7a;
            box-shadow: 0px 0px 0px 0px #e8f66e7a;
  }
}

@keyframes yellowlight {
  0% {
    -webkit-box-shadow: 1px 1px 30px 2px #ffe34286;
            box-shadow: 1px 1px 30px 2px #ffe34286;
  }
  100% {
    -webkit-box-shadow: 0px 0px 0px 0px #e8f66e7a;
            box-shadow: 0px 0px 0px 0px #e8f66e7a;
  }
}

@-webkit-keyframes greenlight {
  0% {
    -webkit-box-shadow: 1px 1px 30px 2px #5eff427e;
            box-shadow: 1px 1px 30px 2px #5eff427e;
  }
  100% {
    -webkit-box-shadow: 0px 0px 0px 0px #58ff427a;
            box-shadow: 0px 0px 0px 0px #58ff427a;
  }
}

@keyframes greenlight {
  0% {
    -webkit-box-shadow: 1px 1px 30px 2px #5eff427e;
            box-shadow: 1px 1px 30px 2px #5eff427e;
  }
  100% {
    -webkit-box-shadow: 0px 0px 0px 0px #58ff427a;
            box-shadow: 0px 0px 0px 0px #58ff427a;
  }
}
/*# sourceMappingURL=index.css.map */